USE [master]
GO
/****** Object:  Database [Library]    Script Date: 10/15/2022 6:26:03 PM ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'/var/opt/mssql/data/Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'/var/opt/mssql/data/Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 10/15/2022 6:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[score] [float] NULL,
	[borrowed] [bit] NOT NULL,
	[borrowDate] [datetimeoffset](7) NULL,
	[createdAt] [datetimeoffset](7) NOT NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrows]    Script Date: 10/15/2022 6:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrows](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bookName] [nvarchar](255) NULL,
	[borrowDate] [datetimeoffset](7) NULL,
	[returnDate] [datetimeoffset](7) NULL,
	[bookId] [int] NOT NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/15/2022 6:26:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([id], [name], [score], [borrowed], [borrowDate], [createdAt], [UserId]) VALUES (1, N'Yeraltindan Notlar', 0, 0, NULL, CAST(N'2022-10-15T15:24:39.8070000+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[Books] ([id], [name], [score], [borrowed], [borrowDate], [createdAt], [UserId]) VALUES (2, N'Ilahi Komedya', 10, 0, NULL, CAST(N'2022-10-15T15:24:43.0100000+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[Books] ([id], [name], [score], [borrowed], [borrowDate], [createdAt], [UserId]) VALUES (3, N'Milena''ya Mektuplar', 0, 1, CAST(N'2022-10-15T15:24:59.6680000+00:00' AS DateTimeOffset), CAST(N'2022-10-15T15:24:45.7160000+00:00' AS DateTimeOffset), 1)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Borrows] ON 

INSERT [dbo].[Borrows] ([id], [bookName], [borrowDate], [returnDate], [bookId], [UserId]) VALUES (1, N'Ilahi Komedya', CAST(N'2022-10-15T15:24:57.0440000+00:00' AS DateTimeOffset), CAST(N'2022-10-15T15:25:04.8780000+00:00' AS DateTimeOffset), 2, 1)
SET IDENTITY_INSERT [dbo].[Borrows] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name]) VALUES (1, N'Irfan Arslan')
INSERT [dbo].[Users] ([id], [name]) VALUES (2, N'Kaan Arslan')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [borrowed]
GO
ALTER TABLE [dbo].[Borrows] ADD  DEFAULT (NULL) FOR [returnDate]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Borrows]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
ON DELETE SET NULL
GO
USE [master]
GO
